<footer class="footer">
    <div class="container text-center">
      <p class="text-muted">
        Made with ❤️ in Noosa (Australia) |
        <a href="/terms-of-service">Terms of Service</a> |
        <a href="/privacy-policy">Privacy Policy</a> |
        <a href="/contact-me">Contact Us</a>
      </p>
    </div>
  </footer>