<!DOCTYPE html>
<html>
<head>
    <title>📄 PDF to TXT Converter</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>📄 PDF to TXT Converter</h1>
        <form id="upload-form" enctype="multipart/form-data">
            <div id="drop-zone" class="border p-4 mb-3">
                <p>Drag and drop a PDF here, or click to select a file to upload.</p>
                <input type="file" name="file" id="file" class="form-control-file" accept=".pdf" required>
            </div>
            <button type="submit">Convert</button>
        </form>
        <div id="messages">
            <% if (message && filename && downloadLink) { %>
                <%= message %> <a href="<%= downloadLink %>">download text file</a>
            <% } %>
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer">
        <div class="container text-center">
            <p class="text-muted">
                Made with ❤️ in Noosa (Australia) |
                <a href="/terms-of-service">Terms of Service</a> | 
                <a href="/privacy-policy">Privacy Policy</a> |
                <a href="/contact-me">Contact Me</a>
            </p>
        </div>
    </footer>

    <script src="/js/upload.js"></script>
</body>
</html>
