<!DOCTYPE html>
<html>
<head>
    <title>PDF to Text Converter</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="/js/upload.js"></script>
</head>
<body>
    <div class="container">
        <h1 class="my-4">PDF to Text Converter</h1>
        <form action="/upload" method="post" enctype="multipart/form-data" class="mb-4">
            <div id="drop-zone" class="border p-4 mb-3">
                <p>Drag and drop a PDF here, or click to select a file to upload.</p>
                <input type="file" name="file" id="file" class="form-control-file">
            </div>
            <input type="submit" value="Upload" class="btn btn-primary">
        </form>
        <div id="messages"></div>
        <div id="results"></div>
    </div>
</body>
</html>
