<!DOCTYPE html>
<html>
<head>
    <title>Terms of Service</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Terms of Service</h1>

         <p>These terms and conditions (the "Terms and Conditions") govern the use of <span style="font-style:normal;font-weight:bold;"><%= currentUrl %></span> (the "Site"). This Site is owned and operated by DOUBLE HAPPINESS HOLDINGS PTY LTD. This Site is a saas.<br><br>By using this Site, you indicate that you have read and understand these Terms and Conditions and agree to abide by them at all times.
        </p>
    <br>
    <div>
         <p><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Intellectual Property</span><br>All content published and made available on our Site is the property of DOUBLE HAPPINESS HOLDINGS PTY LTD and the Site's creators. This includes, but is not limited to images, text, logos, documents, downloadable files and anything that contributes to the composition of our Site.
        </p></div>
    <div>
         <p><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Acceptable Use</span><br>As a user of our Site, you agree to use our Site legally, not to use our Site for illegal purposes, and not to:
        </p>
        <ul>
            <li style="margin-bottom:18.0pt;" value="1"><span>Harass or mistreat other users of our Site;</span><span style="color:#000000;"><br></span>
            </li>
            <li style="margin-bottom:18.0pt;" value="2"><span>Violate the rights of other users of our Site;</span><span style="color:#000000;"><br></span>
            </li>
            <li style="margin-bottom:18.0pt;" value="3"><span>Violate the intellectual property rights of the Site owners or any third party to the Site;</span><span style="color:#000000;"><br></span>
            </li>
            <li style="margin-bottom:18.0pt;" value="4"><span>Hack into the account of another user of the Site;</span><span style="color:#000000;"><br></span>
            </li>
            <li style="margin-bottom:18.0pt;" value="5"><span>Act in any way that could be considered fraudulent; or</span><span style="color:#000000;"><br></span>
            </li>
            <li style="margin-bottom:0.0pt;" value="6"><span>Post any material that may be deemed inappropriate or offensive.</span><span style="color:#000000;"><br></span>
            </li>
        </ul>
         <p>If we believe you are using our Site illegally or in a manner that violates these Terms and Conditions, we reserve the right to limit, suspend or terminate your access to our Site. We also reserve the right to take any legal steps necessary to prevent you from accessing our Site.
        </p></div>
    <div>
         <p><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Limitation of Liability</span><br>DOUBLE HAPPINESS HOLDINGS PTY LTD and our directors, officers, agents, employees, subsidiaries, and affiliates will not be liable for any actions, claims, losses, damages, liabilities and expenses including legal fees from your use of the Site.
        </p></div>
    <div>
         <p><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Indemnity</span><br>Except where prohibited by law, by using this Site you indemnify and hold harmless DOUBLE HAPPINESS HOLDINGS PTY LTD and our directors, officers, agents, employees, subsidiaries, and affiliates from any actions, claims, losses, damages, liabilities and expenses including legal fees arising out of your use of our Site or your violation of these Terms and Conditions.
        </p></div>
    <div>
         <p><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Applicable Law</span><br>These Terms and Conditions are governed by the laws of the State of Queensland Australia.
        </p></div>
    <div>
         <p><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Severability</span><br>If at any time any of the provisions set forth in these Terms and Conditions are found to be inconsistent or invalid under applicable laws, those provisions will be deemed void and will be removed from these Terms and Conditions. All other provisions will not be affected by the removal and the rest of these Terms and Conditions will still be considered valid.
        </p></div>
    <div>
         <p><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Changes</span><br>These Terms and Conditions may be amended from time to time in order to maintain compliance with the law and to reflect any changes to the way we operate our Site and the way we expect users to behave on our Site. We will notify users by email of changes to these Terms and Conditions or post a notice on our Site.
        </p></div>
    <div>
         <p><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Contact Details</span><br>Please <a href="/contact-me">contact us</a> if you have any questions or concerns.
        </p>
         <p>You can also contact us through the feedback form available on our Site.
        </p></div>
    <p>Effective Date: 1st day of July, 2023.
        </p>

        
        <p>Last updated: Aug 3, 2023</p>
        
        <!-- Link back to the main page -->
        <a href="/">Back to Main Page</a>
    </div>

  <!-- Footer -->
  <%- include('partials/footer') %>
</body>
</html>